* {
    margin: 0px;
    padding: 0px;
    font-family: 'RocknRoll One', sans-serif;
}

.container { 
    display: grid;
    grid-template-rows: 4.5rem 2fr 10rem 2rem;
    grid-template-columns: minmax(0px, auto) 1fr;
    grid-template-areas: 
    'h h'
    'm m'
    's s'
    'f f';
    width: 100vw;
    height: 100vh;
   
   }

   header {
    grid-area: h;
    background-color: #AFEEEE;
    
    
   }
  
   main {
    grid-area: m;
    background-color: #AFEEEE;
   
    }
  
    .cart {
        grid-area: s;
        background-color: #DDA0DD;
  
    }
  
    footer {
        grid-area: f;
        background-color: aqua;
    }

    .band-name {
        background-color: #00CED1;
        text-align: center;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px
      }