* {
    margin: 0px;
    padding: 0px;
    font-family: 'RocknRoll One', sans-serif;
}

.container { 
    display: grid;
    grid-template-rows: 4.5rem 2fr 10rem 2rem;
    grid-template-columns: minmax(0px, auto) 1fr;
    grid-template-areas: 
    'h h'
    'm m'
    's s'
    'f f';
    width: 100vw;
    height: 100vh;
   
   }